
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.corgi {
  max-height: 100px;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: row;
}

.row-dogs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  max-width: 80%;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: none;
}

img {
  max-height: 400px;
  max-width: 400px;
}
li {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');



/* StarRating {
  margin-bottom: 10px;
  width: 200px;
} */
